<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Firebear\ImportExport\Model\Import\Category" type="Firebear\CustomImportExport\Model\Import\Category" />
    <!--<preference for="Firebear\ImportExport\Model\Import\Product" type="Firebear\CustomImportExport\Model\Import\Product" /> -->
    <type name="Firebear\ImportExport\Model\Export\Category">
        <plugin name="firebear-customimportexport-export-category" type="Firebear\CustomImportExport\Plugin\Model\Export\Category" sortOrder="5" />
    </type>
</config>
